In [1]:
import pandas as pd
import numpy as np
import requests
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
from pandas_profiling import ProfileReport

In [2]:
df_1 = pd.read_csv(
    'https://docs.google.com/spreadsheets/d/1gvZ03uAL6THwd04Y98GtIj6SeAHiKyQY5UisuuyFSUs/export?format=csv', low_memory=False
)
df_2 = pd.read_csv(
    'https://docs.google.com/spreadsheets/d/1wduqo5WyYmCpaGnE81sLNGU0VSodIekMfpmEwU0fGqs/export?format=csv', low_memory=False
)
pd.options.display.max_columns = None

df_mergeado = df_2.merge(df_1, left_on = 'id', right_on = 'id')
df_mergeado.sort_values(by=['id'], inplace=True, ascending=True)
df_mergeado.head()

,barrio,dia,direccion_viento_tarde,direccion_viento_temprano,horas_de_sol,humedad_tarde,humedad_temprano,id,llovieron_hamburguesas_hoy,mm_evaporados_agua,mm_lluvia_dia,nubosidad_tarde,nubosidad_temprano,presion_atmosferica_tarde,presion_atmosferica_temprano,rafaga_viento_max_direccion,rafaga_viento_max_velocidad,temp_max,temp_min,temperatura_tarde,temperatura_temprano,velocidad_viendo_tarde,velocidad_viendo_temprano,llovieron_hamburguesas_al_dia_siguiente
43694,Agronomía,2008-12-01,Oestenoroeste,Oeste,NaN,22.0,71.0,0,no,NaN,0.6,NaN,8.0,1007.1,1007.7,Oeste,44.0,22.9,13.4,21.8,16.9,24.0,20.0,no
1607,Agronomía,2008-12-02,Oestesuroeste,Nornoreste,NaN,25.0,44.0,1,no,NaN,0.0,NaN,NaN,1007.8,1010.6,Oestenoroeste,44.0,25.1,7.4,24.3,17.2,22.0,4.0,no
100483,Agronomía,2008-12-03,Oestesuroeste,Oeste,NaN,30.0,38.0,2,no,NaN,0.0,2.0,NaN,1008.7,1007.6,Oestesuroeste,46.0,25.7,12.9,23.2,21.0,26.0,19.0,no
29574,Agronomía,2008-12-04,Este,Sureste,NaN,16.0,45.0,3,no,NaN,0.0,NaN,NaN,1012.8,1017.6,Noreste,24.0,28.0,9.2,26.5,18.1,9.0,11.0,no
42669,Agronomía,2008-12-05,Noroeste,Estenoreste,NaN,33.0,82.0,4,no,NaN,1.0,8.0,7.0,1006.0,1010.8,Oeste,41.0,32.3,17.5,29.7,17.8,20.0,7.0,no

# Feature engineering
### Buscamos filas duplicadas
### Consideramos a una fila duplicada unicamente cuando se repite el dia y el barrio

In [4]:
display(df_mergeado[df_mergeado.duplicated(subset=['barrio','dia'],keep=False)])

Empty DataFrame
Columns: [barrio, dia, direccion_viento_tarde, direccion_viento_temprano, horas_de_sol, humedad_tarde, humedad_temprano, id, llovieron_hamburguesas_hoy, mm_evaporados_agua, mm_lluvia_dia, nubosidad_tarde, nubosidad_temprano, presion_atmosferica_tarde, presion_atmosferica_temprano, rafaga_viento_max_direccion, rafaga_viento_max_velocidad, temp_max, temp_min, temperatura_tarde, temperatura_temprano, velocidad_viendo_tarde, velocidad_viendo_temprano, llovieron_hamburguesas_al_dia_siguiente]
Index: []

## Variables __categoricas__
1. Barrio 
2. direccion_viento_tarde
3. direccion_viento_temprano
4. rafaga_viento_max_direccion

### Comenzamos por reemplazar los valores nulos en direcciones de viento y ráfagas por una nueva opcion que puede tomar la feature : "Otra direccion"

In [5]:
df_mergeado['direccion_viento_tarde'].replace(np.nan, 'Otra direccion', inplace=True)
df_mergeado['direccion_viento_temprano'].replace(np.nan, 'Otra direccion', inplace=True)
df_mergeado['rafaga_viento_max_direccion'].replace(np.nan, 'Otra direccion',inplace=True)

### Ademas reemplazamos el valor del barrio palermo que vino como 'Palermo cheto' a palermo, ya que seria poco profesional operar con el dato escrito de esta manera

In [6]:
df_mergeado['barrio'].replace('Palermo cheto', 'palermo', inplace=True)

### Luego verificamos que ninguna feature categorica tenga valores repetidos o sin sentido por errores de tipado

In [7]:
df_mergeado.barrio.value_counts().to_frame()

                     barrio
Liniers                2737
Constitución           2657
Villa Soldati          2611
Retiro                 2580
Villa Luro             2578
Villa Real             2561
Parque Avellaneda      2526
San Telmo              2518
San Nicolás            2482
Saavedra               2464
Monserrat              2462
Coghlan                2444
Mataderos              2441
Villa Devoto           2436
Villa Crespo           2435
Parque Chacabuco       2435
Palermo                2432
Villa General Mitre    2431
Barracas               2430
Recoleta               2429
Villa del Parque       2429
Villa Riachuelo        2428
San Cristóbal          2427
Boedo                  2426
Nueva Pompeya          2423
Balvanera              2421
Vélez Sársfield        2421
Colegiales             2417
Monte Castro           2413
La Paternal            2412
Flores                 2410
Villa Santa Rita       2410
Parque Patricios       2410
Agronomía              2403
Villa Ortúzar          2401
Núñez                  2399
Almagro                2398
Belgrano               2393
Versalles              2387
Chacarita              2386
Caballito              2384
Floresta               2384
Villa Pueyrredón       2381
Villa Lugano           2374
La Boca                2366
Puerto Madero          2362
palermo                1281
Parque Chas            1272
Villa Urquiza          1261

In [8]:
df_mergeado.direccion_viento_temprano.value_counts().to_frame()

                direccion_viento_temprano
Nornoreste                          12784
Norte                                9453
Otra direccion                       8403
Sureste                              7437
Este                                 7391
Sursureste                           7244
Noroeste                             7003
Sur                                  6948
suroeste                             6785
Oeste                                6742
Estenoreste                          6244
Estesureste                          6152
Noreste                              6136
Sursuroeste                          6073
Oestenoroeste                        5964
Oestesuroeste                        5609

In [9]:
df_mergeado.direccion_viento_tarde.value_counts().to_frame()

                direccion_viento_tarde
Nornoreste                       11546
Sureste                           8657
Oeste                             8053
Sur                               7930
Oestesuroeste                     7627
Sursureste                        7480
suroeste                          7477
Norte                             7180
Oestenoroeste                     7096
Noroeste                          6893
Estesureste                       6831
Este                              6764
Noreste                           6636
Sursuroeste                       6549
Estenoreste                       6276
Otra direccion                    3373

In [10]:
df_mergeado.llovieron_hamburguesas_hoy.value_counts().to_frame()

    llovieron_hamburguesas_hoy
no                       88359
si                       25394

In [11]:
df_mergeado.rafaga_viento_max_direccion.value_counts().to_frame()

                rafaga_viento_max_direccion
Nornoreste                            10512
Otra direccion                         8269
Oeste                                  7952
Sureste                                7502
Norte                                  7432
Este                                   7428
Sursureste                             7365
Sur                                    7314
Oestesuroeste                          7227
suroeste                               7161
Sursuroeste                            7038
Oestenoroeste                          6592
Estenoreste                            6521
Noroeste                               6447
Estesureste                            5923
Noreste                                5685

#### Vemos que todos los valores son unicos, no hay necesidad de alterar las features y podemos seguir con la conversion a valores numericos

## ...












## ....

## Variables __numéricas__
1.

### Comenzamos por buscar cuáles columnas tienen missings

In [27]:
df_mergeado.fillna(np.nan, inplace = True)
df_nulos = df_mergeado.isnull().sum().to_frame(name="NaN_Count")
df_nulos['NaN_%'] = df_nulos['NaN_Count'] / df_mergeado.count()
df_nulos.sort_values(by=['NaN_%']) #este % por alguna razón muestra mal a partir de nubosidad_temprano

                                         NaN_Count     NaN_%
barrio                                           0  0.000000
dia                                              0  0.000000
direccion_viento_tarde                           0  0.000000
direccion_viento_temprano                        0  0.000000
id                                               0  0.000000
rafaga_viento_max_direccion                      0  0.000000
temp_max                                      1003  0.008694
temp_min                                      1187  0.010306
temperatura_temprano                          1410  0.012265
velocidad_viendo_temprano                     1413  0.012292
humedad_temprano                              2117  0.018529
velocidad_viendo_tarde                        2444  0.021453
llovieron_hamburguesas_hoy                    2615  0.022988
mm_lluvia_dia                                 2615  0.022988
llovieron_hamburguesas_al_dia_siguiente       2639  0.023204
temperatura_tarde                             2889  0.025458
humedad_tarde                                 3595  0.031878
rafaga_viento_max_velocidad                   8218  0.075987
presion_atmosferica_tarde                    12000  0.114978
presion_atmosferica_temprano                 12019  0.115181
nubosidad_temprano                           44656  0.622713
nubosidad_tarde                              47450  0.688499
mm_evaporados_agua                           50211  0.758967
horas_de_sol                                 55856  0.923057

Vemos que algunos de los features tienen menos de un 1.5% de NaNs, por lo cual usar la media para rellenarlos no implicaría una disonancia significativa en la información, sinó más bien un suavizado de esos casos vacíos.

In [ ]:
df_2 = df_mergeado.copy()
df_2['temp_max'].replace(np.nan, df_2['temp_max'].mean(), inplace = True)
df_2['temp_min'].replace(np.nan, df_2['temp_min'].mean(), inplace = True)
df_2['temperatura_temprano'].replace(np.nan, df_2['temperatura_temprano'].mean(), inplace = True)
df_2['velocidad_viendo_temprano'].replace(np.nan, df_2['velocidad_viendo_temprano'].mean(), inplace = True)

df_nulos = df_2.isnull().sum().to_frame(name="NaN_Count")
df_nulos['NaN_%'] = df_nulos['NaN_Count'] / df_2.count()
df_nulos.sort_values(by=['NaN_%']) #este % por alguna razón muestra mal a partir de nubosidad_temprano

# Formulación de Preguntas y Visualización
## Primero nos hacemos una serie de preguntas para comprender y analizar mejor nuestros datos:  

1. ¿Suponiendo desconocimiento de todas las features excepto el target, que tan probable es que lluevan hamburguesas al dia siguiente?
 2. ¿De qué manera se relaciona el barrio con que lluevan hamburguesas al dia siguiente?
 3. ¿De qué manera se relaciona el barrio con que lluevan hamburguesas al dia siguiente, en ese mismo barrio?
 4. ¿Si llovieron hamburguesas hoy, qué tan probable es que lluevan hamburguesas mañana?
 5. ¿Features con gran numero de missings como horas_de_sol, mm_evaporados_agua, y las nubosidades para la mañana y la tarde, tienen correlación con el target?
 6. ¿Cómo afecta la feature mm_lluvia_dia al target?
 7. ¿Si hubo una correlación en (6.), qué features afectan a mm_lluvia_dia?
 8. ¿Acaso influye la religión?
 
Buscamos entender cada uno de los datos, cómo se relacionan entre sí y ver que conclusiones podemos obtener. A partir de ellos vamos a determinar los factores que determinan si alguien tiene altos o bajos ingresos.